.App {
    text-align: justify;
}

.App-logo {
    pointer-events: none;
    border-radius: 25%;
    padding: 5px;
    border: 1px solid #ddd;
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.5); /* FF3.5+ */
    -ms-transform: scale(0.5); /* IE9 */
    -o-transform: scale(0.5); /* Opera 10.5+ */
    transform: scale(0.5);
    /* IE6–IE9 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713, SizingMethod='auto expand');
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.header-logo {
    font-size: 15vw;
}
.cat-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}
.cat-avatar {
    padding: 0 10px;
    font-size: 15vw;
    color: chocolate;
}
.cat-name {
    font-size: 25px;
}
footer, header {
    color: #dddddd;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
}
header {
    background-color: #20c997;
    padding: 15px;
}
footer{
    background-color: chocolate;
    padding-top: 5vh;
}
a, a:visited {
    color: #ddd;
    font-weight: lighter;
    font-size: 17px;
}
a:hover {
    color: #20c997;
    text-decoration: none;
}

#main-container {
    /* border-image: url(./images/wood.gif); */

    padding: 20px 70px;
    font-size: 9pt;
    background-color: #F8F8F8;
    color: #59504E;
    border-radius: calc(.45rem - 1px);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 4px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-top-color: #CCC;
    border-right-color: #CCC;
    border-bottom-color: #CCC;
    border-left-color: #7dabab;
    -moz-box-shadow: 3px 3px 7px #e4ebeb;
    -webkit-box-shadow: 3px 3px 7px #e4ebeb;
    box-shadow: 3px 3px 7px #e4ebeb;
}

button {
    background-color: #20c997;
    padding: 15px 20px;
    margin: 5px 15px;
    /*border-radius: calc(.45rem - 1px);*/
    /*border-top-width: 1px;*/
    /*border-right-width: 1px;*/
    /*border-bottom-width: 1px;*/
    /*border-left-width: 1px;*/
    /*border-top-style: solid;*/
    /*border-right-style: solid;*/
    /*border-bottom-style: solid;*/
    /*border-left-style: solid;*/
    /*border-top-color: #CCC;*/
    /*border-right-color: #CCC;*/
    /*border-bottom-color: #CCC;*/
    /*border-left-color: #7dabab;*/
    -moz-box-shadow: 3px 3px 7px #e4ebeb;
    -webkit-box-shadow: 3px 3px 7px #e4ebeb;
    box-shadow: 3px 3px 7px #e4ebeb;
}

button.reset-button, button.remove-button {
    background-color: chocolate;
    color: #dddddd;
}

input, label {
    padding: 10px;
}

.row.content {
    padding: 0;
    margin: 0;
}
